<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" [drawerOpening]="onDrawerOpened()" [gesturesEnabled]="checkEnabled()">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" >
            <Label class="sidedrawer-header-brand" text="{{ userFullname }}" horizontalAlignment="center" style="margin-top: 20;"></Label>
            <Label class="footnote" text="{{ userEmail }}" horizontalAlignment="center"></Label>
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout columns="auto, *" (tap)="onNavItemTap('/dashboard')" >
                    <Label col="1" text="Dashboard" class="dash-button p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" (tap)="onNavItemTap('/chooseinterest')">
                    <Label col="1" text="Add Interests" class="dash-button p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" (tap)="onNavItemTap('/removeinterest')">
                    <Label col="1" text="Remove Interests" class="dash-button p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" (tap)="onNavItemTap('/acceptedlist')">
                    <Label col="1" text="View Saved Coupons" class="dash-button p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" (tap)="onNavItemTap('/changeradius')">
                    <Label col="1" text="Change Radius" class="dash-button p-r-10"></Label>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
