<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Dashboard"></Label>
</ActionBar>


<StackLayout>
    <Label text="Latitude: {{ this.latitude }}"></Label>
    <Label text="Longitude: {{ this.longitude }}"></Label>
    <Button class="btn btn-primary btn-active" text="Update" (tap)="updateLocation()"></Button>
    <Label text="Nearby Coupons" horizontalAlignment="center"></Label>
    <Button *ngIf="byDistance" class="btn btn-primary btn-active" text="Filter by Interests" (tap)="toggleByDistance()"></Button>
    <Button *ngIf="!byDistance" class="btn btn-primary btn-active" text="Filter by Distance" (tap)="toggleByDistance()"></Button>
    <ScrollView>
        <ListView *ngIf="isListLoaded && byDistance" [items]="this.nearCouponList" class="list-group" height="100%">
            <ng-template let-coupon="item">
            <GridLayout columns="*" orientation="horizontal" class="list-group-item" (tap)="onCouponClick(coupon)">
                <Label col="0" [text]="coupon.name"></Label>
            </GridLayout>
    </ng-template>
    </ListView>

    <ListView id="interestsView" *ngIf="isListLoaded && !byDistance" [items]="this.nearInterestList" class="list-group" height="100%">
            <ng-template let-coupon="item">
            <GridLayout columns="*" orientation="horizontal" class="list-group-item" (tap)="onCouponClick(coupon)">
                <Label col="0" [text]="coupon.name"></Label>
            </GridLayout>
    </ng-template>
    </ListView>


    </ScrollView>
</StackLayout>
