<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Dashboard"></Label>
</ActionBar>


<StackLayout>
    <Label text="Latitude: {{ this.geolocation.latitude }}"></Label>
    <Label text="Longitude: {{ this.geolocation.longitude }}"></Label>
    <Button class="btn btn-primary btn-active" text="Update" (tap)="this.geolocation.updateLocation()"></Button>
</StackLayout>
