<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

<ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Choose Interests"></Label>
</ActionBar>

    <StackLayout>
            <Label text="Saved Coupons" horizontalAlignment="center" style="margin: 10; font-size: 20"></Label>
            <ScrollView>
                    <ListView *ngIf="this.customerInfo.customerInfo.acceptedCoupons.length > 0" [items]="this.customerInfo.customerInfo.acceptedCoupons" class="list-group" height="100%">
                        <ng-template let-coupon="item">
                        <GridLayout columns="*" orientation="horizontal" class="list-group-item" (tap)="onCouponClick(coupon)">
                            <Label col="0" [text]="coupon.name"></Label>
                            <!-- <Label col="1" text="KM" horizontalAlignment="right" ></Label> -->
                        </GridLayout>
                </ng-template>
                </ListView>
                </ScrollView>
    </StackLayout>
